{{>head}}
{{>navbar}}
<div class="row">
    <div class="col-8">
        <h1>Google</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus accusamus consectetur iure minima, dolores temporibus saepe pariatur ad ipsum at mollitia id cupiditate perferendis sunt, dignissimos minus dolore! Dolorem, totam?
        </p>
    </div>

    <div class="col-4">
        <img src="/assets/img/google.jpg" class="img-thumbnail">
    </div>

</div>


{{>footer}}